Quartz Drawings.xcodeproj/project.xcworkspace/xcuserdata/Tim.xcuserdatad/UserInterfaceState.xcuserstate
Quartz Drawings.xcodeproj/xcuserdata/Tim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist


*.xcuserstate

Quartz Drawings.xcodeproj/project.xcworkspace/xcuserdata/Tim.xcuserdatad/UserInterfaceState.xcuserstate
